body {
  width: 1445px;
  height: 3300px;
  margin: auto;
  background-color: #ffffff;
}

h1,
h2,
p {
  margin: 0;
}

.navigation-container {
  width: 945px;
  height: 90px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #828282;
}

.navigation-container a {
  color: #828282;
  text-decoration: none;
  font: 700 18px Roboto;
}

.navigation-container>a.active {
  color: #070707;
}

.home {
  width: 945px;
  height: 650px;
  margin: 0 auto 85px;
}

.home-container {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
}

h1 {
  width: 327px;
  height: 60px;
  margin-top: 35px;
  font: 700 47.34px Roboto;
  color: #070707;
}

.home-container>p {
  width: 259px;
  height: 50px;
  margin-top: 41px;
  font: 500 18px Roboto;
  text-align: right;
}

.home-image {
  width: 945px;
  height: 500px;
  border-radius: 5px;
}

.about-wrapper {
  width: 100%;
  height: 640px;
  background-color: #f4f4f4;
}

.about-wrapper>h2 {
  padding: 50px 0 46px;
  font: 700 34px Roboto;
  text-align: center;
}

.about-me-content {
  width: 945px;
  height: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.biography {
  width: 451px;
  height: 220px;
  font: 500 20px Roboto;
  text-align: left;
}

.about-me-content>img {
  width: 32%;
  height: 345px;
  border-radius: 5px;
}

.skills-wrapper {
  width: 945px;
  height: 300px;
  margin: 50px auto;
}

.graphics-editor-wrapper {
  width: 100%;
  height: 205px;
  display: flex;
  justify-content: space-between;
}

.graphics-editor {
  width: 170px;
  height: 205px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.graphics-editor>p {
  text-align: center;
  font: 700 23px Roboto;
  color: #828282;
}

.skills-wrapper>h2 {
  padding-bottom: 70px;
  font: 700 34px Roboto;
  text-align: center;
}

.pointer {
  position: sticky;
  top: 90%;
  left: 92%;
  border: none;
  background: none;
  opacity: 0.5;
}

.pointer:hover {
  opacity: 90%;
}

.portfolio-wrapper {
  width: 100%;
  background-position: center;
  text-align: center;
}

.portfolio-wrapper img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-wrapper>h2 {
  padding: 50px 0;
  font: 700 34px Roboto;
}

.portfolio-wrapper>a {
  display: block;
  font: 500 25px Roboto;
  margin: 40px 0 86px;
}

#poportfolio-wrapper-g-l:hover{
  opacity: 90%;
  padding-top: 2px;
}
#first-gh {
  width: 100%;
}

footer {
  width: 100%;
  height: 220px;
  margin: auto;
  margin-top: 50px;
}

footer>h2 {
  text-align: center;
  padding: 50px 0 100px;
  font: 700 34px Roboto;
}

.footer-wrapper-img {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.graphics-editor img {
  width: 100px;
  height: 100px;
}

.first-footer-img{
  height: 60px;
  border-radius: 20%;
}

footer img:hover{
  padding-top: 2px;
}