 body {
   max-width: 1445px;
   height: 3250px;
   margin: auto;
   background-color: #ffffff;
 }

 #pointer-wrapper {
   height: 0;
   width: 0;
 }

 h1,
 h2,
 p {
   margin: 0;
 }


 .navigation-container {
   width: 65%;
   height: 90px;
   margin: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid #828282;
 }


 .navigation-container a {
   color: #828282;
   text-decoration: none;
   font: 700 18px Roboto;
 }

 .navigation-container>a:hover {
   color: #070707;
 }

 .home {
   max-width: 65%;
   height: 650px;
   margin: 0 auto 85px;
 }

 .home-container {
   width: 100%;
   height: 150px;
   display: flex;
   justify-content: space-between;
 }

 h1 {
   width: 30%;
   height: 60px;
   margin-top: 35px;
   font: 700 47.34px Roboto;
   color: #070707;
 }

 .home-container>p {
   width: 30%;
   height: 50px;
   margin-top: 41px;
   font: 500 18px Roboto;
   text-align: right;
 }

 .home-image {
   max-width: 100%;
   border-radius: 5px;
 }

 .about-wrapper {
   width: 100%;
   height: 640px;
   background-color: #f4f4f4;
 }

 .about-wrapper>h2 {
   padding: 50px 0 46px;
   font: 700 34px Roboto;
   text-align: center;
 }

 .about-me-content {
   width: 95%;
   height: 450px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: auto;
 }

 .biography {
   width: 57%;
   height: 220px;
   font: 500 20px Roboto;
   text-align: left;
 }

 .about-me-content>img {
   max-width: 32%;
   border-radius: 5px;
 }

 .skills-wrapper {
   width: 945px;
   height: 300px;
   margin: 50px auto;
 }

 .graphics-editor-wrapper {
   width: 100%;
   height: 205px;
   display: flex;
   justify-content: space-between;
 }

 .graphics-editor {
   width: 170px;
   height: 205px;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   align-items: center;
 }

 .graphics-editor>p {
   text-align: center;
   font: 700 23px Roboto;
   color: #828282;
 }

 .skills-wrapper>h2 {
   padding-bottom: 70px;
   font: 700 34px Roboto;
   text-align: center;
 }

 .pointer {
   position: sticky;
   top: 78%;
   left: 92%;
   border: none;
   background: none;
   opacity: 0.5;
 }

 .pointer:hover {
   opacity: 90%;
 }

 .portfolio-wrapper {
   width: 100%;
   height: 917px;
   background-position: center;
   text-align: center;
 }

 .portfolio-wrapper img {
   display: block;
   margin: 0 auto;
   width: 98%;
 }

 .portfolio-wrapper>h2 {
   padding: 50px 0;
   font: 700 34px Roboto;
 }

 #wrapper-task-portfolio {
   width: 100%;
   display: flex;
   justify-content: space-between;
 }

 #wrapper-task-portfolio img {
   max-width: 100%;
   height: 100%;
   border: 2px solid black;
 }

 #wrapper-task-portfolio img:hover {
   border: 2px solid red;
   opacity: 100%;
 }

 footer {
   width: 100%;
   height: 220px;
   margin: auto;
 }

 footer>h2 {
   text-align: center;
   padding: 50px 0 100px;
   font: 700 34px Roboto;
 }

 .footer-wrapper-img {
   display: flex;
   justify-content: space-evenly;
   width: 100%;
 }

 .graphics-editor img {
   width: 100px;
   height: 100px;
 }

 .first-footer-img {
   height: 50px;
   border-radius: 25%;
 }

 .first-footer-img:hover {
   padding-top: 2px;
 }

 .github-wrapper {
   opacity: 92%;
 }

 .github-wrapper:hover {
   opacity: 100%;
 }

 .menu-burger, .mobile-wrapper-p {
   display: none;
 }


 /* mobile wrapper */


 @media screen and (max-width: 768px) {
   body {
     max-width: 415px;
     height: 100%;
   }

   h1 {
     height: 5rem;
     font: 700 30.34px Roboto;
     color: #070707;
   }

   .mobile-wrapper-p {
     display: block;
     padding-top: 2rem;
     font: 500 18px Roboto;
     text-align: center;
   }

   .navigation-container, .home-container>p {
     display: none;
   }

   .pointer {
     width: 2rem;
     height: 2rem;
     top: 94%;
     left: 86%;
   }

   .home {
     max-width: 500px;
     height: 440px;
     margin: 0 auto;
   }

   .home-container {
     width: 70%;
     height: 150px;
     display: flex;
     justify-content: space-around;
   }

   .menu-btn {
     width: 30px;
     height: 30px;
     position: relative;
     top: 60px;
     left: 8rem;
   }

   .menu-btn span {
     width: 40px;
     height: 2px;
     position: absolute;
     top: 0;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: #222222;
     transition: all 0.5s;
   }

   .menu-btn span:nth-of-type(2) {
     top: calc(50% - 5px);
   }

   .menu-btn span:nth-of-type(3) {
     top: calc(50% + 5px);
   }

   .menu-burger {
     display: block;
     position: absolute;
     top: 9.4rem;
     right: 0;
     height: 16rem;
     width: 100%;
     background-color: rgb(0, 0, 0);
     transform: translate(-120%);
     transition: transform 0.5s;
     text-decoration: none;
     text-align: center;
     margin: 0 auto;
   }

   .menu-burger nav {
     padding-top: 3%;
   }

   .menu-burger.active {
     transform: translateX(0);
     margin: auto;
   }

   .menu-burger li {
     list-style-type: none;
     text-decoration: none;
   }

   .menu-btn.active span:nth-of-type(2) {
     display: none;
   }

   .menu-btn.active span:nth-of-type(1) {
     top: 35%;
     transform: translate(-50%, 0%) rotate(45deg);
   }

   .menu-btn.active span:nth-of-type(3) {
     top: 35%;
     transform: translate(-50%, 0%) rotate(-45deg);
   }

   .menu-style {
     color: #f4f4f4;
     text-decoration: none;
     font: 500 20px Roboto;
   }

   .menu-burger li {
     padding: 18px;
     border-bottom: 1px solid white;
   }

   .home-container>p {
     font: 500 28px Roboto;
   }

   .skills-wrapper {
     width: 100%;
   }

   .about-me-content {
     width: 100%;
     display: block;
     text-align: center;
   }

   .about-wrapper {
     width: 100%;
     height: 830px;
     background-color: #f4f4f4;
   }

   .first-footer-img {
     height: 100%;
     border-radius: 25%;
   }

   #poportfolio-wrapper-g-l {
     width: 100%;
     height: 180px;
   }

   footer>h2 {
     text-align: center;
     padding: 50px 0 65px;
     font: 700 34px Roboto;
   }

   .first-footer-img {
     height: 60%;
     border-radius: 25%;
     display: block;
     margin: 0 auto;
   }

   .biography {
     width: 100%;
     height: 220px;
     padding-top: 30px;
     font: 500 20px Roboto;
     text-align: center;
   }

   .about-me-content>img {
     max-width: 100%;
   }

   #wrapper-task-portfolio {
     width: 100%;
     height: 900px;
     display: flex;
     flex-wrap: wrap;
   }

   .portfolio-wrapper {
     height: 1270px;
   }

   .github-wrapper {
     height: 100px;
     opacity: 100%;
   }

   #wrapper-task-portfolio img {
     height: 95%;
   }

   .graphics-editor {
     height: 130px;
   }

   .graphics-editor img {
     width: 70px;
     height: 67px;
   }

   .graphics-editor>p {
     font-size: 20px;
   }

   .skills-wrapper {
     height: 250px;
   }

   .portfolio-wrapper>h2 {
     padding-top: 20px;
   }

   footer {
     height: 290px;
   }

   .one {
    order: 1;
   }

   .two {
    order: 2;
   }

   .three{
    order: 3;
   }
 }